#addBurger{
    margin-left: 10px;
}

.burger-item{
    background-color: black;
    border: red solid 1px;
    border-radius: 5px;
    color: cornsilk;
    height: 130px;
    margin-top: 20px;
    opacity: .8;
}

.devour{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

body{
    background-attachment: fixed;
    background-image: url('../images/burger.jpg');
    background-position: center;
    background-size: cover;
}

header{
    color: red;
    font-family: 'Yellowtail', cursive;
    font-size: 120px;
    text-align: center;
}